
 <mat-toolbar color="primary" >
  <mat-toolbar-row >
    <button  mat-icon-button (click)="opened=!opened" ><mat-icon>view_headline</mat-icon></button> <span>Angular Demo</span>
     <span class="example-spacer"></span>
     <button mat-icon-button (click)="openDialog()" ><mat-icon>settings</mat-icon></button>
     <button mat-icon-button><mat-icon matBadge="15" matBadgeColor="warn">notification_important</mat-icon></button>
     
    </mat-toolbar-row>
 </mat-toolbar>
 <mat-progress-bar id="ProgressBars" mode="determinate" ></mat-progress-bar>
 <mat-sidenav-container  >
     <mat-sidenav  mode="side" [(opened)]="opened"  class="mat-elevation-z5"><!--mode="side"-->
         <mat-nav-list style="width:250px;">
             <a mat-list-item routerLink="Dboard"><mat-icon>dashboard</mat-icon>Dashboard</a>
             <a mat-list-item routerLink="Search"><mat-icon>search</mat-icon>Search</a>
             <a mat-list-item routerLink="Acc"><mat-icon>supervised_user_circle</mat-icon>Accounts</a>
             <a mat-list-item routerLink="Facets"><mat-icon>list</mat-icon>Facets</a>
           
            </mat-nav-list>
     </mat-sidenav>
     <mat-sidenav-content>
         <p style="height:88vh;">
            <router-outlet></router-outlet>
         </p>
     </mat-sidenav-content>
 </mat-sidenav-container>
